

<div class="row d-flex">

    {% for post in posts %} 
    <div class="col-md-3 d-flex ftco-animate">
      <div class="blog-entry align-self-stretch">
        <a href="{% url "blog:single_post" post.slug %}" class="block-20" style="background-image: url({{ post.photo.url }});">              
        </a>
        <div class="text mt-3 d-block">
          <h3 class="heading mt-3"><a href="#">{{ post.content|truncatewords_html:6|safe }}</a></h3>
          <div class="meta mb-3">
            <div><a href="#">{{ post.created_at|date:"d.m.Y" }}</a></div>
            <div><a href="#">{{ post.author }}</a></div>
            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
  </div>